.root {
  cursor: grab;
}

.root:active {
  cursor: grabbing;
}

.cluster {
  fill: transparent;
  stroke: #ccc;
  transition: stroke-width 0.5s;
  cursor: default;
}

.cluster:hover {
  stroke-width: 4px;
}

.node {
  stroke: #999;
  cursor: default;
}
